@{
    Layout = "_Layout";
}
<style>
    .navbar{
        position:sticky;
        margin:0;
        width:100vw;
        background-color: #5F6F52;
        color:wheat;
        display:flex;
        justify-content:start;
    }

    .sidebar{
        position:fixed;
        left:0;
        background: #A9B388;
        width:10vw;
        height:100vw;
    }

</style>



<div class="navbar">
 <div class="d-flex flex-column align-items-center mt-3 ms-3">
        <i class="fa fa-user fa-2x fa-solid d-flex flex-column">
        </i>
        @if (TempData["UserName"] != null)
        {
            @TempData["UserName"].ToString();
        }
 </div>
   
</div>
<div class="sidebar" style="overflow-y:hidden;">
    <div class="d-flex justify-content-end">
        <i class="fa fa-2x fa-solid fa-bars me-2 mt-1" style="color:wheat;"></i>

    </div>
</div>


@RenderBody()


